# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_WINGS_LEFT
    def_bool $(shields_list_contains,wings_left)

config SHIELD_WINGS_RIGHT
    def_bool $(shields_list_contains,wings_right)

config SHIELD_WINGS_ROW2COL_LEFT
    def_bool $(shields_list_contains,wings_row2col_left)

config SHIELD_WINGS_ROW2COL_RIGHT
    def_bool $(shields_list_contains,wings_row2col_right)