if SHIELD_WINGS_LEFT

config ZMK_KEYBOARD_NAME
    default "Wings"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_WINGS_LEFT || SHIELD_WINGS_RIGHT

config ZMK_SPLIT
    default y

endif